<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Page</title>
    <style>
        #book_description{font-size: 18px;}
    </style>
</head>
<body>
    <h1>Book Page</h1>

    {% if book %}
        <h2>{{ book.title }}</h2>
        <p id="book_description">{{ book.description }}</p>

        {% if user.is_authenticated %}
            <a href="{% url 'BookRealm:add_to_wishlist' book.id %}">Add to Wishlist</a>
            <a href="{% url 'BookRealm:remove_from_wishlist' book.id %}?next=book">Remove from Wishlist</a>
        {% endif %}
    {% else %}
        <p>No book selected.</p> 
    {% endif %}
    <br>
    {% if messages %}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
</body>
</html>