{% extends 'bookrealm/bootstrap-base.html' %}

{% block title_block %}Contact Us{% endblock %}

{% block body_block %}
    <section class="px-4 py-5">
        <div>
            <h1 class="fw-bold text-white mb-3">Contact Us</h1>
        <p class="text-secondary mb-4">
            ReadRealm is a university project built by students at the University of Glasgow, as part of a Web Application Development course.
        </p>
        <div class="d-flex flex-column gap-3">
            
            <div class="d-flex align-items-center gap-3">
                <div class="rr-icon-red"><i class="bi bi-person"></i></div>
                <span class="text-white">Leonardo Petroni — <span class="rr-link-red">3167510P@student.gla.ac.uk</a></span>
            </div>

            <div class="d-flex align-items-center gap-3">
                <div class="rr-icon-red"><i class="bi bi-person"></i></div>
                <span class="text-white">Michael Bennion — <span class="rr-link-red">...</a></span>
            </div>

            <div class="d-flex align-items-center gap-3">
                <div class="rr-icon-red"><i class="bi bi-person"></i></div>
                <span class="text-white">Arthur Lytvynov — <span class="rr-link-red">...</a></span>
            </div>

            <div class="d-flex align-items-center gap-3">
                <div class="rr-icon-red"><i class="bi bi-person"></i></div>
                <span class="text-white">Prrithwinjay Das — <span class="rr-link-red">...</a></span>
            </div>

            <div class="d-flex align-items-center gap-3">
                <div class="rr-icon-red"><i class="bi bi-person"></i></div>
                <span class="text-white">Zhenghao Yin — <span class="rr-link-red">...</a></span>
            </div>

        </div>
    </section>

{% endblock %}