{% extends 'bookrealm/bootstrap-base.html' %}

{% block title %}My Wishlist{% endblock %}

{% block body_block %}
<body>
    <h1>My Wishlist</h1>

    {% if wishlist_items %}
        <ul>
            {% for item in wishlist_items %}
                <li>
                    <strong>{{ item.book.title }}</strong> - {{ item.book.description }}
                    <a href="{% url 'BookRealm:remove_from_wishlist' item.book.id %}">Remove</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your wishlist is empty.</p>
    {% endif %}
</body>
{% endblock %}